:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #888;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  line-height: 0.8em;
}

#about {
  margin-top:0; 
  width:320px;
  font-size: 8pt;
}

footer {
  margin-top: 1rem;
}

#target-info {
  visibility: hidden;
  padding: 0.5em 0;
}

#guesses {
}

#guesses > div span {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 1px solid #000;
  text-transform: uppercase;
  background-color: #444;
  font-size: 1.2rem;
  line-height: 4rem;
}

#keyboard > div > span {
  display: inline-block;
  width: 2rem;
  height: 4rem;
  margin-right: 4px;
  margin-bottom: 4px;
  text-transform: uppercase;
  background-color: #444;
  font-size: 0.8rem;
  line-height: 4rem;
  border-radius: 4px;
}

#guesses > div span:empty:before {
  content: "\200b"; /* unicode zero width space character */
}

#guesses > div span.misordered,
#keyboard > div span.misordered {
  background-color: #a74;
}

#guesses > div span.found,
#keyboard > div span.found {
  background-color: #074;
}

#keyboard > div span.nope {
  background-color: #333;
}

#guesses > div span.invalid {
  border-color: #600;
}

.shake {
  animation: shake-anim 0.2s;
  animation-iteration-count: 3;
}

.flip {
  animation: flip-anim 0.5s;
  animation-iteration-count: 1;
}

@keyframes flip-anim {
  0% {
     transform: perspective(400px) rotateY(0);
     animation-timing-function: ease-out;
  }
  40% {
     transform: perspective(400px) translateZ(150px) rotateY(170deg);
     animation-timing-function: ease-out;
  }
  50% {
     transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
     animation-timing-function: ease-in;
  }
  80% {
     transform: perspective(400px) rotateY(360deg) scale(.95);
     animation-timing-function: ease-in;
  }
  100% {
     transform: perspective(400px) scale(1);
     animation-timing-function: ease-in;
  }
} 

@keyframes shake-anim {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}
